{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="row">
    <div class="col-lg-5 d-flex flex-column justify-content-center align-items-start">
        <h2 class="vms-hero-header">
            Vehicle Management System
          </h2>
          <hr style="width: 100%;">
          <p class="">
            Optimize vehicle fleet with our powerful Vehicle Management
            System. Streamline operations, enhance efficiency, and ensure
            your vehicles are always on the right track.
          </p>
          <a class="mainBtn mt-5">Get Started</a>
    </div>
    <div class="col-lg-7 d-flex justify-content-end">
        <img class="hero_img" src="{% static 'img/vms-hero.png' %}" alt="My image">
    </div>
</div>


{% endblock content %}