{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Detailed information</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="row mt-1">
        <div class="col-sm-2">
            <b>Model:</b>
        </div>
        <div class="col-sm-10">
            {{vehicle.model}}
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <b>Body type:</b>
        </div>
        <div class="col-sm-10">
            {{vehicle.type}}
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <b>Year:</b>
        </div>
        <div class="col-sm-10">
            {{vehicle.year}}
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <b>License plate:</b>
        </div>
        <div class="col-sm-10">
            {{vehicle.license_plat}}
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <b>Sitting capacity:</b>
        </div>
        <div class="col-sm-10">
            {{vehicle.capacity}}
        </div>
    </div>
    <div class="row mt-1 align-items-center">
        <div class="col-sm-2 align-items-center">
            <b>Assigned driver:</b>
        </div>
        <div class="col-sm-10">
            {{vehicle.assigned_task}}
        </div>
    </div>
</div>
{% endblock content %}