body,html {
    height: 100%;
}

.hero_img {
    width: 100%;
    height: auto;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.mainNav {
    border-bottom: 1px;
}

.navbar-brand {
    font-weight: bold;
}


.mainContainer {
    display: flex;
    flex-direction: column;

}

.mainBtn {
	background-color:#18181a;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-size:14px;
	padding:10px 31px;
	text-decoration:none;
}
.mainBtn:hover {
	background-color:#2f2f31;
}

.vms-hero-header {
    font-weight: bold;
    font-size: 44px;
}


        