<div class="row">
    <div class="col-sm-5">
        <b>Driver</b>
    </div>
    <div class="col-sm-7">
        {{driver.name}} {% if driver.middle_name %}{{driver.middle_name}}{% endif %} {{driver.surname}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <b>Goverment ID</b>
    </div>
    <div class="col-sm-7">
        {{driver.goverment_id}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <b>Address</b>
    </div>
    <div class="col-sm-7">
        {{driver.address}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <b>Phone number</b>
    </div>
    <div class="col-sm-7">
        {{driver.phone}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <b>Email</b>
    </div>
    <div class="col-sm-7">
        {{driver.email}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <b>Driver license code</b>
    </div>
    <div class="col-sm-7">
        {{driver.license_code}}
    </div>
</div>