{% extends 'base.html' %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiEgnwnW0STa5XZcpJ0ErLq4DkUxiSPnk"></script>
<script>
    function findLocationName(lat, lng, targetElem) {
        const latitude = parseFloat(lat);
        const longitude = parseFloat(lng);

        const geocoder = new google.maps.Geocoder();

        let latlng = { lat: latitude, lng: longitude };
        geocoder.geocode({location: latlng}).then((response) => {
            if (response.results[0]) {   
                console.log(response.results[1])
                targetElem.innerHTML = response.results[1]['formatted_address'].replace(' 020000', '')
            }
        });
    }  

    let routeInfoElements = Array.from(document.getElementsByClassName("routeInfo"));
    routeInfoElements.forEach(elem => {
        let idNum = elem.children[0].id.split('_')[0];
        let routeCardID = idNum + '_route';

        // document.getElementById(routeCardID).innerHTML = routeCardID;
        let fromData = JSON.parse(document.getElementById(idNum + '_from').value);
        let toData = JSON.parse(document.getElementById(idNum + '_to').value);

        findLocationName(fromData.latitude, fromData.longitude, document.getElementById(idNum + '_timelineFrom'));
        findLocationName(toData.latitude, toData.longitude, document.getElementById(idNum + '_timelineTo'));
    });



</script>
{% endblock scripts %}

{% block styles %}
<style>

    .card {
        border-color: #eff1f3;
        border-width: 1.5px;
    }
    #map {
      height: 80vh;
      width: 100%;
    }
    ul.timeline {
        list-style: none;
        padding-left: 16px;
        margin-bottom: 0;
    }
    .timeline>li {
        position: relative;
        padding-left: 10px;
    }
    
    .timeline>li:before {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #3156fa;
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-40%);
    }
      
    .timeline>li:not(:last-child):after {
        content: '';
        width: 2px;
        height: 150%;
        background: #3156fa;
        position: absolute;
        left: -8px;
        top: 50%;
    }

    .task_date {
        font-size: 19px;
    }
    .route_date {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Personal page</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <h4>Personal information</h4>
        <div class="card shadow">
            <div class="card-body">
                {% include 'accounts/blocks/driver_details.html' %}
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="row mt-5 align-items-center">
            <h4 style="margin-bottom: 0;">Currently Assigned Routes</h4>
        </div>
        <hr>
        {% if driver.tasks %}
        <div class="row">
            <div class="col">
                {% for task in tasks %}
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <div class="card-body">
                        
                        <p class="card-text">{{task.car}}</p>
                        <p class="card-text task_date"><span class="badge bg-secondary">{{task.date}}</span></p>

                        </div>
                      </div>
                      <div class="col-md-8 border-start">
                        <div class="card-body">
                            <div class="route" id="{{task.id}}_route">
                                <ul class="timeline">
                                    <li id="{{task.id}}_timelineFrom" style="margin-bottom: 16px;"></li>
                                    <li id="{{task.id}}_timelineTo"></li>
                                </ul>
                            </div>
                            <div class="routeInfo d-none">
                                <input type="text" name="point_from" id="{{task.id}}_from" value="{{task.from_point}}">
                                <input type="text" name="point_to" id="{{task.id}}_to" value="{{task.to_point}}">
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="infoAlert" role="alert">
                Currently no route is assigned!<br>Try to make an appointment
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="row mt-5 align-items-center">
            <div class="col-8 ">
                <h4 style="margin-bottom: 0;">Routes History</h4>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search routes..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
        <hr>
        {% if driver.routes.all %}
        {% for route in driver.routes.all %}
        <div class="card mb-3">
            <div class="card-body">
                <span class="badge bg-secondary route_date">{{route.date}}</span>
                <div class="route" id="{{route.id}}_route">
                    <ul class="timeline">
                        <li id="{{route.id}}_timelineFrom" style="margin-bottom: 16px;"></li>
                        <li id="{{route.id}}_timelineTo"></li>
                    </ul>
                </div>
                <div class="routeInfo d-none">
                    <input type="text" name="point_from" id="{{route.id}}_from" value="{{route.from_point}}">
                    <input type="text" name="point_to" id="{{route.id}}_to" value="{{route.to_point}}">
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="infoAlert" role="alert">
                You don't have completed routes<br>Try to make an appointment
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
