{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="img" href="{% static 'img/icon1.png' %}" />
    <title>{% block title %} VMS - homepage {% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
    {% block head %} {% endblock head %} {% block styles %} {% endblock styles%}
  </head>
  <body>
    <div class="wrapper">
      <nav class="mainNav navbar navbar-expand-lg border-bottom">
        <div class="container">
          <a class="navbar-brand" href="{% url 'homepage' %}">VMS</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.admin_acc %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'staff_list' %}">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vehicles_list' %}"
                  >Vehicles</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'drivers_list' %}">Drivers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointments_list' %}">
                  Appointments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks_list' %}">Tasks</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Personal Profiles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'make_appointment' %}"
                  >Make appointment</a
                >
              </li>

              {% endif %}
            </ul>

            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ request.user }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    {% if user.admin_acc %}
                    <span class="dropdown-item">Role: Admin</span>
                    {% elif user.driver_acc %}
                    <span class="dropdown-item">Role: Driver</span>
                    {% elif user.fueling_acc %}
                    <span class="dropdown-item">Role: Fueling person</span>
                    {% elif user.meintenance_acc %}
                    <span class="dropdown-item">Role: Maintenance person</span>
                    {% else %}
                    <span class="dropdown-item">No active role</span>
                    {% endif %}
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  {% if request.user.driver_acc %}
                  <li>
                    <a
                      class="dropdown-item"
                      href="{% url 'drivers_personal_page' request.user.driver_acc.id %}"
                      >Personal page</a
                    >
                  </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}"
                      >Log out</a
                    >
                  </li>
                </ul>
              </li>
            </ul>

            {% else %}
            <a class="btn btn-outline-success" href="{% url 'signin' %}"
              >Login</a
            >
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="mainContainer container mt-3">
        {% block content %} {% endblock content %}
      </div>
    </div>
    {% block scripts %} {% endblock scripts %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
