{% extends 'base.html' %}
{% load static %}
{% block title %}Add task{% endblock title %}
{% block scripts %}
<script src="{% static 'js/searchAndSelect.js' %}"></script>
{% endblock scripts %}

{% block head %} 
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css" />
<script src="https://kit.fontawesome.com/7d35b2c1cb.js" crossorigin="anonymous"></script>
{% endblock head %}


{% block content %}
<div class="row justify-content-between mb-5">
    <form action="">
        {% csrf_token %}
        <div class="col-5">
            <h3>Add Task</h3>
            <hr>
            <input type="hidden" id="selectedDriver" name="selectedDriver">

            <div class="searchAndSelect mt-3 mb-3">
                <div class="selectBtn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span class="" >
                            Select a driver
                    </span>
                    <i class="fas fa-angle-down"></i>
                </div>
                

              
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="searchAndSelect_content">
                        <div class="search">
                            <i class="fas fa-search"></i>
                            <input type="text">
                        </div>
                        <ul class="options">
                            {% for driver in drivers %}
                            <li id="{{driver.id}}">{{ driver.name }} {{ driver.surname }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
              </div>
            </div>
                
        </div>
        <div class="col-7">
            {% if cars %}
                <div class="mb-3">
                    <label for="id_car" class="form-label">Select vehicle:</label>
                    <select name="car" class="form-control" required="" id="id_car">
                        <option value="" selected="">---------</option>
                        {% for car in cars %}
                        <option value="{{car.id}}">{{car}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="row">
                    <div class="col" >
                        <div class="row mb-3">
                            <div class="col">
                                <span>Specify departure location</span>
                                <input type="text" id="searchInputFrom" class="form-control" placeholder="Search for a location" >
            
                            </div>
                            <div class="col">
                                <span>Specify arrival location</span>
                                <input type="text" id="searchInputTo" class="form-control" placeholder="Search for a location" >
                            </div>
                            </div>
                        <div class="col">
                            <div id="map" class="mb-3"></div>
                        </div>
                        <div class="col d-none">
                            <span>Departure point</span>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="latitudeFrom" class="form-label">Latitude:</label>
                                    <input type="text" id="latitudeFrom" name="latitudeFrom" class="form-control" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="longitudeFrom" class="form-label">Longitude:</label>
                                    <input type="text" id="longitudeFrom" name="longitudeFrom" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col d-none">
                            <span>Arrival point</span>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="latitudeTo" class="form-label">Latitude:</label>
                                    <input type="text" id="latitudeTo" name="latitudeTo" class="form-control" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="longitudeTo" class="form-label">Longitude:</label>
                                    <input type="text" id="longitudeTo" name="longitudeTo" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Add</button>
            </form>
            {% else %}
            <div class="infoAlert" role="alert">
                There are no available cars at the moment! <br>
                Complete other tasks or add more vehicles...
            </div>
            {% endif %}
        </div>
    </form>
    
</div>

{% endblock content %}
<h1 class="mb-4">Map Point Selector</h1>
