{% extends 'base.html' %}
{% block title %}Appointments list{% endblock title %}
{% block scripts %}
<script>
    // define variables to reference them in different functions
    let map;
    let markerFrom;
    let markerTo;
    let directionsService;
    let directionsRenderer;
    var geocoder;

    const from_lat = parseFloat("{{from_point_data.latitude}}");
    const from_lon = parseFloat("{{from_point_data.longitude}}");
    const to_lat = parseFloat("{{to_point_data.latitude}}");
    const to_lon = parseFloat("{{to_point_data.longitude}}");

    
    // main function
    function initMap() {
        // create map and render put it on page
        // default start coordinates are set to Nazarbayev University
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: from_lat, lng: from_lon },
            zoom: 15, // camera zoom
        });
        geocoder = new google.maps.Geocoder();
        const latlng = {
            lat: from_lat,
            lng: from_lon,
          };

        map.set('styles',[
        {
          featureType: "all",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }
      ]);
        // initialize direction services from Google Maps API and connect to map
        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer({
            map: map,
        });
        // 2 markers for departure and arrival points
        markerFrom = new google.maps.Marker({
            position: map.getCenter(), 
            map: map,
            draggable: false,
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: "red",
                fillOpacity: 0.7,
                strokeColor: "blue",
                strokeWeight: 1,
                scale: 10,
                labelOrigin: new google.maps.Point(0, 2)
            },
            label: {
                text: "Departure",
                color: "blue",
                fontWeight: "bold",
                labelOrigin: new google.maps.Point(0, 10)
            },
        });
  
        markerTo = new google.maps.Marker({
            position: { lat: to_lat, lng: to_lon },
            map: map,
            draggable: false,
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: "blue",
                fillOpacity: 0.7,
                strokeColor: "blue",
                strokeWeight: 1,
                scale: 10,
                labelOrigin: new google.maps.Point(0, 2)
            },
            label: {
                text: "Arrival",
                color: "blue",
                fontWeight: "bold",
            },
        });
        calculateAndDisplayRoute();
        const infowindowFrom = new google.maps.InfoWindow();
        const infowindowTo = new google.maps.InfoWindow();
        geocodeLatLng(geocoder,map, infowindowFrom, markerFrom, {lat: from_lat, lng: from_lon}, document.getElementById('timelineFrom'));
        geocodeLatLng(geocoder,map, infowindowTo, markerTo, {lat: to_lat, lng: to_lon}, document.getElementById('timelineTo'));
        console.log(infowindowTo.getContent())
    }


    function geocodeLatLng(geocoder, map, infowindow,  marker, latlng, elem) { 
        geocoder.geocode({ location: latlng })
            .then((response) => {
            if (response.results[0]) {   
                infowindow.setContent(response.results[1]['formatted_address'].replace(' 020000', ''));
                elem.innerText = infowindow.getContent();
                infowindow.open(map, marker);
            }
        })
    }
    // function to calculate and display Route
    function calculateAndDisplayRoute() {
        // get two points using our markers
        const start = markerFrom.getPosition();
        const end = markerTo.getPosition();

        // generate route using Google service
        directionsService.route({
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING,
            },
            (response, status) => {
                // process result
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert("Directions request failed due to " + status);
                }
            }
        );
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiEgnwnW0STa5XZcpJ0ErLq4DkUxiSPnk&libraries=places&callback=initMap" async defer></script>
{% endblock scripts %}

{% block styles %}
<style>

    .card {
        border-color: #eff1f3;
        border-width: 1.5px;
    }
    #map {
      height: 80vh;
      width: 100%;
    }
    ul.timeline {
        list-style: none;
        padding-left: 16px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .timeline>li {
        position: relative;
        padding: 10px;
    }
    
    .timeline>li:before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #3156fa;
        position: absolute;
        left: -17px;
        top: 50%;
        transform: translateY(-40%);
    }
      
    .timeline>li:not(:last-child):after {
        content: '';
        width: 2px;
        height: 100%;
        background: #3156fa;
        position: absolute;
        left: -8px;
        top: 50%;
    }
</style>
{% endblock styles %}

{% block content %}

<div class="row page-content justify-content-between mt-4">
    <div class="col-6">
        <div id="map"></div>
    </div>
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5>Assigned Driver</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Name</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.driver}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Goverment ID</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.driver.goverment_id}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>License</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.driver.license_code}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Department</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.driver.department}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Email address</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.driver.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Phone number</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.driver.phone}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5>Vehicle details</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Assigned vehicle</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.car}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5>Task details</h5>
                
                <div class="row">
                    <div class="col-sm-4">
                        <span>Date</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.date}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Status</span>
                    </div>
                    <div class="col-sm-8">
                        {{task.status}}
                    </div>
                </div>
                
                <ul class="timeline">
                    <li id="timelineFrom"></li>
                    <li id="timelineTo"></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

