{% extends 'base.html' %}
{% block title %}Appointments list{% endblock title %}

{% block content %}
<div class="row">
    <div class="col d-flex align-items-end">
        <h3 class="m-0">Tasks list</h3>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="{% url 'tasks_add' %}" class="secondaryBtn">Add Task</a>
    </div>
</div>
<hr>

<div class="row">
    <div class="col">
        {% if tasks %}
        <table class="table table-striped align-middle"> 
            <thead>
                <tr>
                    <th scope="col">Tasks</th>
                    <th scope="col"></th>
                  </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task }}</td>
                    <td style="text-align: end;"><a href="{% url 'task_view' task.id %}" class="btn btn-outline-secondary">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <div class="infoAlert" role="alert">
            No tasks yet...
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
